Source: magit
Section: vcs
Priority: optional
Maintainer: Debian Emacs addons team <pkg-emacsen-addons@lists.alioth.debian.org>
Uploaders: Timo Juhani Lindfors <timo.lindfors@iki.fi>, Rémi Vanicat <vanicat@debian.org>, Barak A. Pearlmutter <bap@debian.org>
Build-Depends: debhelper (>= 9),
	emacs-nox | emacs, dh-elpa (>= 0.0.12), dash-el,
	texinfo, install-info
Standards-Version: 3.9.6
Homepage: http://magit.github.com/magit/index.html
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/magit.git
Vcs-Git: git://anonscm.debian.org/collab-maint/magit.git

Package: elpa-magit
Architecture: all
Provides: magit
Replaces: magit
Depends: ${misc:Depends}, git, dash-el, elpa-with-editor, elpa-magit-popup, elpa-git-commit
Description: Emacs interface for Git
 With Magit, you can inspect and modify your Git repositories with
 Emacs.  You can review and commit the changes you have made to the
 tracked files, for example, and you can browse the history of past
 changes.  There is support for cherry picking, reverting, merging,
 rebasing, and other common Git operations.

Package: elpa-with-editor
Architecture: all
Depends: ${misc:Depends}, dash-el
Description: Call program using Emacs as $EDITOR
 With this package, you can call program from Emacs such that they
 will use Emacs as an editor.

Package: elpa-git-commit
Architecture: all
Depends: ${misc:Depends}, dash-el, elpa-with-editor
Description: Major mode for edditing git commit message
 A mode for edditing COMMIT_MSG file from git in Emacs.

Package: elpa-magit-popup
Architecture: all
Depends: ${misc:Depends}, dash-el
Description: Use popup like Magit
 Magit use popup to run different git function and select the option
 you want
 .
 This package allow you to use those popup in other Emacs mode.

Package: magit
Priority: extra
Section: oldlibs
Architecture: all
Depends: ${misc:Depends}, elpa-magit
Description: transitional dummy package for elpa-magit
 This transitional package is safe to remove.
