Source: magit
Section: vcs
Priority: optional
Maintainer: Debian Emacsen team <debian-emacsen@lists.debian.org>
Uploaders:
 Timo Juhani Lindfors <timo.lindfors@iki.fi>,
 Rémi Vanicat <vanicat@debian.org>,
 Barak A. Pearlmutter <bap@debian.org>,
 Aymeric Agon-Rambosson <aymeric.agon@yandex.com>,
 Xiyue Deng <manphiz@gmail.com>,
Build-Depends:
 debhelper-compat (= 13),
 dh-elpa (>= 2.1.2),
 elpa-compat (>= 30.0.0.0),
 elpa-dash (>= 2.19.1),
 elpa-seq (>= 2.24),
 elpa-with-editor (>= 3.4.2),
 elpa-transient (>= 0.7.5),
 git,
 texinfo,
 texlive-base,
Rules-Requires-Root: no
Standards-Version: 4.7.0
Homepage: https://magit.vc/
Vcs-Browser: https://salsa.debian.org/emacsen-team/magit
Vcs-Git: https://salsa.debian.org/emacsen-team/magit.git

Package: elpa-magit
Architecture: all
Provides: magit
Replaces:
 magit (<< 2.2.2-3),
 elpa-git-commit (<< 4.1.2-2~)
Breaks:
 magit (<< 2.2.2-3),
 elpa-git-commit (<< 4.1.2-2~),
Depends: ${misc:Depends}, git, ${elpa:Depends},
Enhances: emacs, git
Description: Emacs interface for Git
 With Magit, you can inspect and modify your Git repositories with
 Emacs.  You can review and commit the changes you have made to the
 tracked files, for example, and you can browse the history of past
 changes.  There is support for cherry picking, reverting, merging,
 rebasing, and other common Git operations.

Package: elpa-git-commit
Architecture: all
Section: oldlibs
Depends:
 ${misc:Depends},
 ${elpa:Depends},
 elpa-magit (>= 4.1.2-2~)
Enhances: emacs, git
Description: Transitional package for git-commit
 A mode for editing COMMIT_MSG file from git in Emacs.  This has
 become part of elpa-magit since version 4.1.0.

Package: elpa-magit-section
Architecture: all
Depends: ${misc:Depends}, ${elpa:Depends}
Enhances: emacs
Description: Collapsible sections like in Magit
 This package implements the main user interface of Magit — the
 collapsible sections that make up its buffers.  This package used
 to be distributed as part of Magit but now it can also be used by
 other packages that have nothing to do with Magit or Git.
