#!/usr/bin/make -f

%:
	dh $@ --with elpa

override_dh_auto_build:
	@echo "Targets info, html, and pdf all build texi, so serialize to avoid a race condition."
	$(MAKE) texi
	$(MAKE) -j1 info html pdf

override_dh_auto_install:
	@echo do not run make install

override_dh_elpa_test:
	$(MAKE) test LC_ALL=C.UTF-8
