#!/usr/bin/make -f
include /usr/share/dpkg/pkg-info.mk

%:
	dh $@ --with elpa --parallel

override_dh_auto_build:
	make info
	sed -i lisp/magit.el -e "/;; Homepage: https:..github.com.magit./a;; Version: $(DEB_VERSION_UPSTREAM)"
	sed -i lisp/git-commit.el -e "/;; Homepage: https:..github.com.magit./a;; Version: $(DEB_VERSION_UPSTREAM)"
	sed -i lisp/magit-popup.el -e "/;; Homepage: https:..github.com.magit./a;; Version: $(DEB_VERSION_UPSTREAM)"
	@echo do not run make

override_dh_auto_install:
	@echo do not run make install

override_dh_auto_test:
	@echo Testing disabled, discussion in comment below.

override_dh_clean:
	sed -i lisp/magit.el -e "/;; Version: $(DEB_VERSION_UPSTREAM)/d"
	sed -i lisp/git-commit.el -e "/;; Version: $(DEB_VERSION_UPSTREAM)/d"
	sed -i lisp/magit-popup.el -e "/;; Version: $(DEB_VERSION_UPSTREAM)/d"
	dh_clean


# "make test" runs a test suite, which works fine on a development
# environment, but not on the autobuilders.  To get it to work on the
# autobuilders requires a few tweaks, as of 2.2.1:

# - The upstream tarball does not contain /t/magit-tests.el; for
#   convenience this is included in
#   debian/patch/*-upstream-repo-files.patch

# - The testing routines require git to be installed, so you need a
#   build dependency on git

# - There is one more mysterious error with a non-ASCII filename that
#   occurs only in a minimal chroot environment
